*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit";
}

html,body{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
}

.box {
    height: 300px;
    width: 200px;
    padding-inline: 10px;
    padding-bottom: 10px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* box-shadow: 0 0 60px rgb(255, 0, 123); */
    border-radius: 15px;
    background:
        linear-gradient(black) content-box,
        conic-gradient(from 180deg, black, rgb(255, 0, 123), black);
    border: 5px solid rgba(255, 255, 255, 0);
    margin: 10px;
}

.box img {
    width: 100%;
}
