*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit";
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    height: 200px;
    width: 200px;
}

.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.anchor{
    background-color: wheat;
    border-radius: 10px;
}