*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit";
    font-weight: 400;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

h1{
    color: green;
}

.main {
    width: 100%;
    height: 100vh;     /* full page height */
    display: flex;
    justify-content: center;  /* horizontal center */
    align-items: center;      /* vertical center */
    text-align: center;
}
