@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes borderAnimate {
  from { --rotate: 0deg; }
  to { --rotate: 360deg; }
}

.box {
  padding: 10px;
  border-radius: 15px;
  background: #000;
  border: none;
  transition: 0.4s ease;
}

/* Hover → animated border + neon glow */
.box:hover {
  border: 5px solid transparent;
  background:
    linear-gradient(#000) padding-box,
    conic-gradient(from var(--rotate), #000, rgb(255, 0, 123), #000) border-box;
  animation: borderAnimate 3s infinite;
  animation-timing-function: linear;
  box-shadow: 0 0 45px rgba(255, 0, 123, 0.7);
  text-shadow: 0 0 3px rgba(255, 0, 123, 0.7);
}

/* Normal text */
.box h1,
.box p {
  color: white;
  transition: 0.4s ease;

}

/* Hover → text becomes gradient neon */
.box:hover h1,
.box:hover p {
  background: conic-gradient(from var(--rotate), #000, rgb(255, 0, 123), #000);
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
